RewriteEngine On

# Ensure POST requests to process_form.php work correctly
RewriteCond %{REQUEST_METHOD} !POST
RewriteRule ^process_form$ process_form.php [L]

RewriteCond %{THE_REQUEST} /index(\.html)? [NC]
RewriteRule ^(.*)index(\.html)?$ /$1 [R=301,L]

RewriteCond %{REQUEST_METHOD} !POST
RewriteCond %{THE_REQUEST} \s/([^.]+)\.php[\s?] [NC]
RewriteRule ^ /%1 [R=301,L]

RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php [L]

RewriteCond %{REQUEST_METHOD} !POST
RewriteCond %{THE_REQUEST} \s/([^.]+)\.html[\s?] [NC]
RewriteRule ^ /%1 [R=301,L]

RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.*)$ $1.html [L]

ErrorDocument 404 /page-not-found.html